i.icon-blue {
    color: #7dbaed;
    padding-right: 10px;
}

.card {
    border: 1px solid rgb(84, 84, 84);
    
}

.main-menu {
    vertical-align: auto;
}

.btn-small {
    width: 100%;
}

.friend-block {
    padding-left: 5px;
    font-size: 10px;
}

.poster {
    padding: 20px 0px 0px 20px;
}